<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>

	<system.serviceModel>
		
		<bindings>
   <basicHttpBinding>
    <binding name="BasicHttpBinding_IHelloService" />
   </basicHttpBinding>
   <netTcpBinding>
    <binding name="NetTcpBinding_IHelloService">
     <security>
      <transport sslProtocols="None" />
     </security>
    </binding>
   </netTcpBinding>
  </bindings>
  <client>
   <endpoint address="http://localhost:8888/HelloService" binding="basicHttpBinding"
    bindingConfiguration="BasicHttpBinding_IHelloService" contract="ServiceReference1.IHelloService"
    name="BasicHttpBinding_IHelloService" />
   <endpoint address="net.tcp://localhost:8889/HelloService" binding="netTcpBinding"
    bindingConfiguration="NetTcpBinding_IHelloService" contract="ServiceReference1.IHelloService"
    name="NetTcpBinding_IHelloService">
    <identity>
     <userPrincipalName value="WALI\waliu" />
    </identity>
   </endpoint>
  </client>
  <services>
			<service name="WCFDemoServices.HelloService" behaviorConfiguration="mexBehaviour">
				<endpoint  address="HelloService" binding="basicHttpBinding" contract="WCFDemoServices.IHelloService">
				</endpoint>
				<endpoint address="HelloService" binding="netTcpBinding" contract="WCFDemoServices.IHelloService">
				</endpoint>
				<endpoint address="mex" binding="mexHttpBinding"  contract="IMetadataExchange"></endpoint>
				<host>
					<baseAddresses >
						<add baseAddress="http://localhost:8888"/>
						<add baseAddress="net.tcp://localhost:8889"/>
					</baseAddresses>
				</host>
			</service>
		</services>

		<behaviors>
			<serviceBehaviors>
				<behavior name="mexBehaviour" >
					<serviceMetadata httpGetEnabled="true" />
				</behavior>
			</serviceBehaviors>
		</behaviors>
	</system.serviceModel>
	
</configuration>